@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}

p {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background-color: #fdf6ee;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.logo {
  width: 51px;
  height: 35px;
}
.menu {
  width: 20px;
  height: 6px;
}

.mobile-hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.mobile-hero-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  z-index: 1000;
}

.mobile-hero-text h1 {
  text-align: center;
  width: 300px;
  font-size: 35px;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: -5%;
}
.mobile-hero-text p {
  text-align: center;
  width: 170px;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  margin-top: 15px;
  color: #6e6e6e;
}

.memoji1 {
  width: 37px;
  height: 63px;
  position: absolute;
  top: 20px;
  left: 5px;
}
.memoji2 {
  width: 51px;
  height: 51px;
  position: absolute;
  top: 0;
  left: 270px;
}
.memoji3 {
  width: 69px;
  height: 69px;
  position: absolute;
  top: 170px;
  left: 5px;
}
.memoji4 {
  width: 93px;
  height: 54px;
  position: absolute;
  top: 140px;
  left: 230px;
}

.download {
  margin-top: 50px;
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}

.playstore {
  width: 146px;
  height: 48px;
  background-color: #514eb5;
  border-radius: 10px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.playstore h6 {
  font-weight: 500;
}

.appstore {
  width: 137px;
  height: 48px;
  background-color: #e42c5d;
  border-radius: 10px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.playstore h6 {
  font-weight: 500;
}

.clients {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2e7f2ab;
}

.clients h2 {
  width: 300px;
  text-align: center;
}
